@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Shifton е онлайн услуга за планиране на работа и генериране на работни смени</title>
</head>
<div class="text-center">
    <h1>SHIFT<span>ON</span></h1>
    <br />
    <br />
    <h2>Автоматизирано планиране</h2>
    <ul class="text">
        <li>Спестяване на време и пари</li>
        <li>Балансирано разпределението на натоварването</li>
        <li>Създаване на оптимален график на смени за произволен брой служители</li>
    </ul>
</div>
<br />
<div class="container">
    <h2>Характеристики</h2>
    <div class="cards">
        <div class="card">

        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
    </div>
</div>
