
<main>
    <div id="header">
        <div class="home-text">
            <div class="text-center">
                <h1>Автоматизирано планиране</h1>
                <br />
                <ul class="text">
                    <li>Спестяване на време и пари</li>
                    <li>Балансирано разпределението на натоварването</li>
                    <li>
                        Създаване на оптимален график на смени за<br />
                        произволен брой служители
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container1">
        <h2>Характеристика</h2>
        <div class="cards">
            <div class="card">
                <h4>Разпределение на натоварването</h4>
                <h3>Планиране на смени</h3>
                <ul>
                    <li>Персонализируеми шаблони за смени</li>
                    <li>Размяна на смени между служителите</li>
                    <li>Отворени смени</li>
                    <li>Спазване на трудовото законодателство</li>
                    <li>Синхронизация на календара</li>
                </ul>
            </div>
            <div class="card">
                <h4>Управлявайте и контролирайте</h4>
                <h3>Управление на служителите</h3>
                <ul>
                    <li>Задачи</li>
                    <li>Създайте контролни списъци</li>
                    <li>Доклади за часове, заплата и отпуск/болнични дни</li>
                </ul>
            </div>
            <div class="card">
                <h4>Мащаб</h4>
                <h3>Интеграции и неограничен достъп</h3>
                <ul>
                    <li>Интеграции на трети страни</li>
                    <li>24/7 достъп от всяко устройство с достъп до Интернет</li>
                    <li>Система за уведомяване</li>
                    <li>Универсалност</li>
                </ul>
            </div>
            <div class="card">
                <h4>План и прогноза</h4>
                <h3>Оценки и прогнози</h3>
                <ul>
                    <li>Планиране на почивка</li>
                    <li>Планиране на ваканция</li>
                    <li>Сигурно съхранение на документи</li>
                </ul>
            </div>
        </div>
    </div>

    <br />
    <section class="automatize">
        <div class="features">
            <div class="container2">
                <h2>Най-съвременна автоматизация на графици</h2>
                <div class="automatize-row">
                    <p>
                        Онлайн платформата на Shifton е 
                        предназначена да оптимизира времето и 
                        ресурсите при създаване на работни графици
                        на служителите. Shifton е идеалното решение 
                        за компании от всички индустрии и размери.
                    </p>
                    <img src="https://shifton.com/static/img/automatize-image.png" alt="" />
                </div>
            </div>
            <br />
            <br />
            <div class="container2">
                <h2>Управление на отсъствието</h2>
                <div class="automatize-row">
                    <p>
                        Всички имаме нужда от почивка от време на време.
                        С нашия модул „почивки“ изхвърлете електронните
                        таблици и планирайте работни дни с няколко кликвания.
                    </p>
                    <div class="picture">
                        <img src="https://landing-shifton.s3.us-west-2.amazonaws.com/landing/D1e.png" alt="" />
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="container2">
                <h2>Планиране на смени</h2>
                <div class="automatize-row">
                    <p>
                        Функции с лесен достъп, включително персонализиран график,
                        шаблони за празници и смени, опростена смяна на смени,
                        интегрирано правоприлагане на трудовото законодателство
                        и много други ценни инструменти, за да направите графика
                        на служителите ефективен.
                    </p>
                    <div class="picture">
                        <img src="https://landing-shifton.s3.us-west-2.amazonaws.com/landing/A1e.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




