@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Shifton е онлайн услуга за планиране на работа и генериране на работни смени</title>
</head>
<div id="header" class="">
    <div class="home-text">
        <div class="text-center">
            <h1>Автоматизирано планиране</h1>
            <br />
            <ul class="text">
                <li>Спестяване на време и пари</li>
                <li>Балансирано разпределението на натоварването</li>
                <li>
                    Създаване на оптимален график на смени за<br />
                    произволен брой служители
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container1">
    <h2>Характеристика</h2>
    <div class="cards">
        <div class="card">
            <h4>Разпределение на натоварването</h4>
            <h3>Планиране на смени</h3>
            <ul>
                <li>Персонализируеми шаблони за смени</li>
                <li>Размяна на смени между служителите</li>
                <li>Отворени смени</li>
                <li>Спазване на трудовото законодателство</li>
                <li>Синхронизация на календара</li>
            </ul>
        </div>
        <div class="card">
            <h4>Управлявайте и контролирайте</h4>
            <h3>Управление на служителите</h3>
            <ul>
                <li>Задачи</li>
                <li>Създайте контролни списъци</li>
                <li>Доклади за часове, заплата и отпуск/болнични дни</li>
            </ul>
        </div>
        <div class="card">
            <h4>Мащаб</h4>
            <h3>Интеграции и неограничен достъп</h3>
            <ul>
                <li>Интеграции на трети страни</li>
                <li>24/7 достъп от всяко устройство с достъп до Интернет</li>
                <li>Система за уведомяване</li>
                <li>Универсалност</li>
            </ul>
        </div>
        <div class="card">
            <h4>План и прогноза</h4>
            <h3>Оценки и прогнози</h3>
            <ul>
                <li>Планиране на почивка</li>
                <li>Планиране на ваканция</li>
                <li>Сигурно съхранение на документи</li>
            </ul>
        </div>
    </div>
</div>

<br />
<section class="automatize">
    <div class="container2">
        <h2>Най-съвременна автоматизация на графици</h2>
        <div class="automatize-row">
            <p>
                Онлайн платформата на Shifton е <br />
                предназначена да оптимизира времето и <br />
                ресурсите при създаване на работни графици<br />
                на служителите. Shifton е идеалното решение за<br />
                компании от всички индустрии и размери.<br />
            </p>
            <img src="https://shifton.com/static/img/automatize-image.png" alt="" />
        </div>
    </div>
    <div class="link">
        <a href="https://localhost:44371/Home/SignUp" class="button-SignUp">Регистрирайте се сега</a>
    </div>
</section>




